*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_div{
    background: #F55A5A;
    height: 100vh;
    width:100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondry_div{
    
    background: rgba(251, 251, 251, 0.88);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width:1000px;
    z-index: 100;
    border-radius: 10px;
}

.secondry_div img{
  padding:30px 40px;
  

}

.form_main{
  
   widows: 100%;
   margin:10px auto;
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   justify-content: center;
   padding-left: 40px;
}

.form_heading{
  margin-bottom: 30px;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-size: 30px;

}

.form_table tbody tr{
     height:60px;
}

.form_table{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-size: 12px;
}

/* .form_table tbody tr input{
    height:30px;
    background: rgba(251, 251, 251, 0.88);
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 200px;
} */

.form_table tbody tr{
    height:80px;
}

.form_inputs{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    padding:15px;
    height:30px;
    margin-top: 10px;
    background: rgba(251, 251, 251, 0.88);
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 200px;

}

.err_style{
    border: 1px solid rgba(245, 8, 8, 0.838);
}

/* .radio_td{
   width:20px;
   height:20px;
   
} */

/* .form_input_radio{
    width:20px;
    height:20px;
    margin-right: 5px;
    
} */


/* .td_div{
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline;
    margin:5px;
    
} */


.form_select{
    width:80px;
    margin-top: 10px;
    height:20px;
}

.err_para{
    color:red;
    text-align: center;
}

.form_button_div{
    display: flex;
    align-items: center;
    justify-content: right;
    gap:20px;
    margin-bottom: 20px;
    margin-right: 120px;
}

.form_button_div button{
      padding:5px 30px;
      font-family: 'Inter',sans-serif;
      font-style: normal;
      border-radius: 5px;
      border: none;
      color:white;
      

}

.form_cancel{
    background: #868686;
}

.form_continue{
    background: #00A878;
    
}

.img_back{
    width:100vw;
    height:500px;
    position: fixed;
    margin-top:245px;
}