.repCard_main_div{
   background-color: rgb(220, 249, 249);
   width: 420px;
   height: 500px;
}


.repCard_second_div{
  
}


.repCard_image{
    width: 100px;
    height: 100px;
    float: right;
    margin: 20px 20px;
}
.repCard_table{
    width:100%;
    padding:5px 20px; 
    font-family:'Inter';
    font-style: normal;  
}


.repCard_table tr{
    height:50px;
    width:500px;
}

.repCard_table_left{
    padding-right: 40px;
    width:80px;
}

.repCard_button_div{
   display: flex;
   justify-content: space-around;;
   margin:60px 100px;


}
.repCard_button_div button{
    width:120px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight:600;
    border-radius: 2px;
}

.repCard_button_div button:hover{
    cursor: pointer;
}

.repCard_Button_accepts{
    color: #00A878;
    border: 1px solid #00A878;
    margin-right:20px;
    

}

.repCard_Button_cancel{
    color: #A80000;
    border:1px solid #A80000;
}