.itemSearch_main{
    min-height:100vh;
    background: #F5E9E9;
   
}

.nav_style{
    position: absolute;
    min-width:100vw;
}

.content_div{
    padding-top: 4.5rem;
    padding-left:2.5rem;
    padding-right:2.5rem;
    
}
.back_btn{
    display: flex;
    align-items: center;
    padding: 0.5em 1.2em;
    font-size: 1.1rem;
    border-radius: 2em;
    border:2.3px solid transparent;
    background-color: rgb(9, 9, 168);
    color:#fff;
    font-weight: 700;
    position: relative;
    margin-top: 1rem;
    transition: all 0.5s;
}



.back_btn:hover{
    cursor: pointer;
    color:rgb(9, 9, 168);
    background: #fff;
    border:2.3px solid rgb(9, 9, 168);
    scale: 1.02;
}

.input_sec{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    
}

.item_search{
    z-index: inherit;
    height:45px;
    width:400px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    padding-left:20px;
    font-size: 15px;
}
.item_search::placeholder{
    padding-left: 10px;
    font-weight: bold;
    font-size: 15px;
    z-index: 5;
    
}

.item_search:focus{
    outline: transparent;
}

.input_sec button{
    /* z-index: inherit; */
    z-index: 5;
    height:40px;
    width:60px;
    border: none;
    border-radius:25px;
    background-color: rgb(95, 255, 95);              
    font-weight:500;
    position: relative;
    left:-63px;
}

.input_sec button:hover{
    cursor: pointer;
   
}
.search_icon{
    scale: 1.6;
    padding-top:5px;
}



.suggest_div{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.suggest_div_sub_div{
    box-sizing: border-box;
  
    position: relative;
    top:-15px;
    left:-30px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* min-height:20px; */
    width:400px;
    padding:0 20px;
    padding-top:10px;
    max-height: 200px;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
}

.suggest_div_display{
    width:100%;
    
    /* padding-top:50px; */
    
    padding-bottom:15px;
    padding-left:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(110, 108, 108)
}

.suggest_div_display:hover{
    background-color: bisque;
}

.card_style{
    position: relative;
    top: 2rem;
}