.home_main_div{
    background: #F55A5A;
    height: 100vh;
    width:100vw;
    position: relative;
    /* z-index: 100; */
    z-index:1;
}

.navbar{
    display:flex;
    justify-content: space-between;
    padding:20px 50px;
}

.nav_logo{
    width: 57px;
    height: 43px;
}

.nav_logo:hover{
    cursor: pointer;
}

.nav_btn{
    width: 124px;
    height: 42.45px;
    border: 2px solid #FFFAFA;
    border-radius: 8px;
    background-color: transparent;

    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.025em;
    color: #FFFFFF;

}

.nav_btn:hover{
    border: 2px solid #062af1;
    color:#062af1;
    scale: 1.01;
    transition: 0.4s;
}

.home_body{
    padding:20px 50px;
}

.home_body >p{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 91px;
    letter-spacing: 0.01em;
    
    color: #FFFFFF;
}

.body_btn{
   
    /* margin-top: 100px; */
    width: 223px;
    height: 59px;
    background: #00A878;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;

    font-family: 'Inter',sans-serif;
    font-style: normal;
    border: none;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #FEFDFD;
    display: flex;
    align-items:center;
    justify-content: center; 
    z-index:100;
    margin-top: 100px;
}

.body_btn2{
    margin-bottom: -100;
    margin-left: 30px;
    padding: 0px;
}
.body_btn_icon{
    padding-left:10px;
    
}

.background_img{
    width:100vw;
    height:500px;
    position: absolute;
    top:245px;
    z-index: -10;
}