.stock_main{
    min-height:100vh;
    background: #F5E9E9;
   
}

.nav_style{
    position: absolute;
    min-width:100vw;
}

.stock_main_btn_div{
    width:100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
   
}

.stock_main_btn_div >div{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    justify-content: center;
    align-items: center;
    
}

.stock_main_btn_div >div button{
    font-size: 1.8rem;
    min-width:12em;
    padding:1em;
    border-radius: 2em;
    border:2.5px solid transparent;
    color:#fff;
    font-weight:700;
    transition: all 0.5s ease-in-out;
}
.btn_st{
    background-color: rgb(26, 233, 29);
    color:#fff; 
}

.btn_sl{
    background-color: rgb(26, 233, 29);
}

.stock_main_btn_div >div button:hover{
    scale: 1.05;
    border:2.5px solid green;
}


.serch_div{
    height: 100vh;
    width:100vw;
    /* background: greenyellow; */
    padding:0px 2rem;
    padding-top: 60px;

    
}


.update_div{
    height: 100vh;
    width:100vw;
    /* background: red; */
    padding:0px 2rem;
    padding-top: 60px;
    
}


.serch_div_btn_div{

}


.serch_div_btn_div >button{
    display: flex;
    align-items: center;
    padding: 0.5em 1.2em;
    font-size: 1.1rem;
    border-radius: 2em;
    border:2.3px solid transparent;
    background-color: rgb(9, 9, 168);
    color:#fff;
    font-weight: 700;
    position: relative;
    margin-top: 2rem;
    transition: all 0.5s;
   

}

.serch_div_btn_div >button:hover{
   cursor: pointer;
   color:rgb(9, 9, 168);
   background: #fff;
   border:2.3px solid rgb(9, 9, 168);
   scale: 1.02;
}
.back_svg{
    padding:0;
    margin:0; 
    padding-right: 0.2em;
    font-size: 1.6em;
 
}

.stock_search_style{
    
}